<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Invite Teammates</h2>
    </div>
</div>

<sign-up-invitation-widget class="row" ng-repeat="invitation in invitations"></sign-up-invitation-widget>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <button class="btn btn-primary" ng-click="submit()">Done</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.btn.btn-secondary.btn-block').click(function(){
            var acc_id = <%@account.id%>
            $.ajax({
                type: 'POST',
                url: "/users/invitation",
                data: {account_id: acc_id},
                dataType: 'json'
            })
                    .done(function(data){
                        console.debug(data);
                    })
                    .fail(function(error){
                        console.debug(error);
                    });
        });
    });
</script>